# Environment
.env

# Logs
logs/

# Raw data
ml/data/raw/solexs/*.gz
ml/data/raw/helios/*.fits
ml/data/raw/helios/*.gz

# Processed data
ml/data/processed/
ml/data/cache/

# Trained models
saved_models/*.keras
saved_models/*.h5
saved_models/*.pkl

# Python
__pycache__/
*.py[cod]
*.pyo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Packaging
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db